/* External CSS */
p {
    color: green;           /* Selector: p | Property: color | Value: green */
    font-size: 18px;        /* Selector: p | Property: font-size | Value: 18px */
    border: 1px solid rgb(167, 207, 23);/* Selector: p | Property: border | Value: 1px solid black */
}
